featuresRepositories=mvn:org.apache.karaf.features/standard/${karaf.version}/xml/features,\
                     mvn:org.apache.karaf.features/enterprise/${karaf.version}/xml/features,\
                     mvn:org.apache.karaf.features/spring/${karaf.version}/xml/features,\
                     mvn:org.apache.cxf.karaf/apache-cxf/3.6.5/xml/features,mvn:org.apache.karaf.features/specs/${karaf.version}/xml/features,\
                     mvn:org.apache.aries.jax.rs/org.apache.aries.jax.rs.features/2.0.2/xml,\
                     mvn:org.cytoscape.distribution/features/${project.version}/xml/features

# When profiling Cytoscape, uncomment the line after "Profiling mode:", and 
# comment out the line after "Production mode:", then look at
# custom.properties for additional changes that need to be made.

# Note: enabling profiling mode will prevent you from running multiple instances 
# of Cytoscape.

# Production mode:
featuresBoot=scr,cdi,aries-jax-rs-whiteboard,aries-jax-rs-whiteboard-jackson,jaxb,jakarta-annotation,jaxrs,jackson,jackson-jaxrs,cytoscape-karaf,cytoscape-gui,

# Profiling mode:
#featuresBoot=config,standard,region,package,kar,ssh,management,cytoscape-gui
