welcome = \
%LOGO%\
\n\
Cytoscape ${project.version}\n\
\n\
Hit '[1m<tab>[0m' for a list of available commands\n\
[0m   and '[1m[cmd] --help[0m' for help on a specific command.\n\
Hit '[1m<ctrl-d>[0m' or '[1mosgi:shutdown[0m' to shutdown Cytoscape.\n\

prompt = [1m${APPLICATION}[0m> 